*~
*.o
*.d
*.s
*.log

tmp*
a.out

/target/compiler
/test/target/*
!/test/target/.keep
/test_todo/target/*
!/test_todo/target/.keep
/test_working/target/*
!/test_working/target/.keep

.cache/
compile_commands.json
.gdb_history
peda-session-tmp.txt

